#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- list most popular languages in Data Science
- list commonly used libraries
- Create table with data science tools
- Create a code cell to multiply and add numbers
- Create a code cell to convert minutes to hours

Some of the most popular languages that are used in Data Science are:
 1. Phyton
 2. Julia 
 3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. ApacheSpark

| Data Science Tools|
|-------------------|
| Jupyter Notebook|
| RStudio|
| Apache Hadoop|

### Below are a few examples of calculating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Laura Derwiszy≈Ñska